@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.counter{
  background-color: #0f6a96;
  margin: 20rem auto;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 8px;;

}

.counter h2{
  color: #fff;
  text-align: center;
  font-size: 3rem;
}


.counter .count{
  color: #fff;
  font-size: 2.5rem;
  margin: 3rem auto;
}

.counter .button-group{
  text-align: center;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.counter .button-group button{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 6px;
}


.counter .button-group .btn-subtract{
  background-color: #e64f14 ;

}
.counter .button-group .btn-reset{

}
.counter .button-group .btn-add{
  background-color: #10961f;
}
